<html lang="en">

  <head>
    <title>[NO-REPLY] StudyPlanner Reset Password</title>
  </head>
  <style>
    {{! .content img {
    height: 80px;
    width: auto;
  } }}

    td { padding: 5px; max-width: 720px; text-align: center; font-family: sans-serif; font-size: 16px; } .reset-code {
    font-size: 48px; font-weight: bold; color: #999999; letter-spacing: 5px; } .copyright { width: 100%; margin-top:
    10px; padding-top: 15px !important; border-top: #999999 solid 1px; }
  </style>

  <body>
    <table style="width: 100%">
      {{! <tr>
      <td>
        <img alt="Coqnit Logo" src="cid:coqnitprop-logo" />
      </td>
    </tr> }}
      <tr>
        <td>
          We have received your request. Enter the code below to reset your password. Ignore this email if you never
          requested the reset.
        </td>
      </tr>
      <tr>
        <td class="reset-code">{{otp}}</td>
      </tr>
      {{!-- <tr>
      <td>This code will only be valid until {{ expiryDate }}</td>
    </tr> --}}
      {{!-- <tr>
      <td class="copyright">
        {{ currentYear }} © Coqnitprop. All Rights Reserved.
      </td>
    </tr> --}}
    </table>
  </body>

</html>
