<html lang="en">
  <body>
    <table style="width: 100%; margin: auto; font-family: Arial, sans-serif;">
      <tr>
        <td
          style="padding: 5px; font-size: 16px; color: #666; line-height: 1.5; text-align: center"
        >
          Thank you for signing up for StudyPlanner! Please verify your email
          address to activate your account by entering the code below.
        </td>
      </tr>
      <tr>
        <td
          style="padding-top:25px; letter-spacing: 5px; text-align: center; font-size: 48px; font-weight: bold; color: #999999;"
        >
          {{otp}}
        </td>
      </tr>
      <tr>
        <td
          style="padding: 20px; font-size: 12px; color: #aaa; text-align: center;"
        >
          © 2024 StudyPlanner. All rights reserved.
        </td>
      </tr>
    </table>
  </body>
</html>
